/* line 3, example.scss */
section {
  padding: 0 40px 40px 40px;
}

/* line 7, example.scss */
code {
  display: block;
  margin-bottom: 40px;
}

/* line 46, ../sass/helpers.scss */
.placeholder::-webkit-input-placeholder {
  color: blue;
}
/* line 47, ../sass/helpers.scss */
.placeholder:-moz-placeholder {
  color: blue;
}
/* line 48, ../sass/helpers.scss */
.placeholder::-moz-placeholder {
  color: blue;
}
/* line 49, ../sass/helpers.scss */
.placeholder:-ms-input-placeholder {
  color: blue;
}

/* line 18, example.scss */
.triangle {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 24px;
  border-color: transparent transparent black transparent;
}

/* line 22, example.scss */
.circle {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #000;
  -webkit-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}

/* line 30, example.scss */
.ellipsis {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 64.8px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-webkit-keyframes color {
  /* line 35, example.scss */
  0% {
    color: #fff;
  }

  /* line 38, example.scss */
  100% {
    color: #000;
  }
}
@-moz-keyframes color {
  /* line 35, example.scss */
  0% {
    color: #fff;
  }

  /* line 38, example.scss */
  100% {
    color: #000;
  }
}
@-ms-keyframes color {
  /* line 35, example.scss */
  0% {
    color: #fff;
  }

  /* line 38, example.scss */
  100% {
    color: #000;
  }
}
@keyframes color {
  /* line 35, example.scss */
  0% {
    color: #fff;
  }

  /* line 38, example.scss */
  100% {
    color: #000;
  }
}
/* line 45, example.scss */
.full {
  border: 4px solid blue;
  width: 64px;
}

/* line 50, example.scss */
.half {
  border: 4px solid red;
  width: 32px;
}
